body{
  background-color: #E6DACE;

}

/* .background-image{
  background-image: url('background-image.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
} */
.navbar{
  position: relative;
  width: 100%;
  z-index: 1;
}


.nav-color{
  background-color: white;
  padding: 30px;
}

.background-white{
  background-color: white;

}

.card{
  width: 18rem;

}

.card-text{
  font-family: 'Roboto', sans-serif;
}

.profile-card{
  position: absolute;
  top: 25%;
  left: 23%;
  box-shadow: -8px 8px 10px black;
  text-align: center;

}
.card-foot{
margin-top: 20px;
}

.profile-pic{
  width: 200px;
  height: 200px;
margin:30px 0px 0px 40px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: : 30px
}


.fa-linkedin {
  background: #007bb5;
  color: white;

}

.fa-instagram {
  background: #125688;
  color: white;

}

.icons{
  margin-left: 10px;
}
.line-divider{
  width:30%;
  margin-left:35%;
border-top: 2px solid #78c4d4;
}

.card-body{
  padding: 0;
  margin-top: 20%;
}
.intro{
  height: 45rem;
  background-color: white;
  margin-left: 40%;
  padding: 80px;
  padding-right: 200px;
  padding-top: 150px;
  font-family: 'Montserrat', sans-serif;
}

.over-view{
  font-family: 'Josefin Sans', sans-serif;
}



.btn1 {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  font-weight:bold;
}

.btn-light{
    background: #ffffff;
      color: black;
      border: 2px solid black;
}
.btn1:hover {
  background: black;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top,#ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  text-decoration: none;
  color: black;
  border: 2px solid blue;
}
.btn-light:hover{
  background: #3cb0fd;
  border: 2px solid black;
}


footer{
  height: auto;
  width: auto;
  margin-top: 0px;
}














@media (max-width: 1028px) {



.intro{

    height: 100%;
    padding:10px 30px 10px;
    padding-top:100%;

    margin-left: 120px;
    background-color: #E6DACE;

    text-align: center;


  }

  .content{

    width: auto;
    height: auto;
    font-size: 2rem;
    padding-top: 50px;
  }

  .helo{
    font-size: 3rem;

    height: auto;
  }
  .sub-title{
    font-size: 2.5rem;

    height: auto;
    text-align: center;
  }

  .over-view{
    text-align: left;
    padding: 30px;

  }

  .navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
  }



  .profile-card{

    position: absolute;
    left:20%;
    top: 12%;
    height: auto;
    width: auto;

}

  .profile-pic{
    width: 400px;
    height: 400px;
  margin:40px 0px 0px 100px;
  }

  .card{
    width: 600px;
    height: auto;
  }
.card-title{
  font-size: 4rem;
}

.card-text{
  font-size: 2rem;
}
.card-body{

  margin-top: 10%;
}
.card-foot{
  font-size: 3rem;
  margin: : 30%;
}

.professional-summary{
  width: auto;
  height: auto;
}

.intro{
  margin-left: 0;
}



/* for footer */

/*
end footer */

}
